html {
    font-size: 62.5%;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(224, 224, 224);
    box-sizing: border-box;
}
body {
    background-color: rgb(18, 18, 18);
}
.top{
    background: rgba(129, 210, 235, 1);
}
.mainLogo {
    width: 75px;
    height: auto;
    margin: 1.5rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5%;
}

p {
    font-size: 2rem;
    text-align: center;
}

.noice {
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
  border-color: rgba(129, 210, 235, 1);
  
}
.special {
    color: blueviolet;
    margin : 5rem
}
.special:hover {
    color: darkslateblue;
}

.references {
    margin-top: 15%;
    margin-left: 35%;
}
.references > a {
    margin-right: 5rem;
}